body{background: #fff;}
.clearfix:after{
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
/* 触发 hasLayout */
    zoom: 1;
}
/*导航部分*/
.logo-content{
    float: right;
    line-height: 20px;
    margin-left: 15px;
}
.logo-content .p1{
    color: #F7B52C;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.logo-content .p2{
    font-size: 14px;
    margin-top: 10px;
    color: #333333;
}
.tel{
    position: absolute;
    right: 0;
    margin-right: 60px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.tel p{
    font-size: 18px;
    font-weight: bold;
    color: #646464;
    margin-left: 20px;
}
.tel img, .tel p{
    display: inline;
}
.nav{
    box-shadow: -17px -6px 20px 0px #ccc !important;
}
.nav{width: 100%; height: 120px; box-shadow: 0 3px 3px 0 #CCC; background: #FFF; position: fixed; left: 0; top: 0; z-index: 999; overflow: hidden; transition: 0.3s; position: relative;}
.nav.index{background: rgba(255, 255, 255 ,0.8); box-shadow: 0 0 0 0 rgba(0,0,0,0.05);}
.nav.scroll{ background: #FFF; box-shadow: 0 3px 3px 0 rgba(0,0,0,0.05); transition: 0.3s}
.nav .layui-container{position: relative; transition: all 400ms ease-out;}
.nav .nav-logo{height: 100%; position: absolute; top: 15px; left: 15px; line-height: 80px;}
.nav .nav-logo img{width: 80px; height: 80px;}
.nav .nav-list{display: inline-block; height: 80px;}
.nav .nav-list button{width: 25px; height: 30px; position: absolute; top: 30px; right: 15px; background-color: transparent; border: none; outline: none; cursor: pointer;}
.nav .nav-list button span{display: block; width: 25px; height: 2px; background: #2db5a3; margin-bottom: 6px; transition: 0.5s;}
.nav .nav-list button span.spa1{transform: rotate(45deg);}
.nav .nav-list button span.spa3{transform: rotate(-45deg) translate(5px,-5px);}
.nav .layui-nav{width: 100%; position: absolute; top: 80px; right: 0; color: #000; background: transparent;}
.nav .layui-nav .layui-nav-item{display: block; line-height: 60px;}
.nav .layui-nav *{font-size: 18px;}
.nav .layui-nav .layui-nav-item a{padding: 0 0; color: #000;}
.nav .layui-nav-bar,
.nav .layui-nav .layui-this:after{height: 2px; background-color: #2db5a3;}
.nav .layui-nav .layui-this a
,.nav .layui-nav .layui-nav-item a:hover{color: #2db5a3;}
.nav .layui-nav .nav-main a{ color: #FF8A00;}
.left{
    float: left;
}
.right{
    float: right;
}
.banner{
    width: 100%;
    background-color: #d8af46;
}
.banner .banner-content{
    width: 980px;
    margin: 0 auto;
    position: relative;
}
.banner img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.banner p{
    position: absolute;

}
.banner p.p1{
    top: 150px;
    left: 600px;
    font-size: 48px;
    color: #fff;
}
.banner p.p2{
    top: 230px;
    left: 600px;
    font-size: 20px;
    color: #FFE464;
}
.wrap{
    background-color: #fff;
}
.wrap1{
    width: 980px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: 250px;
}
.wrap1 img{
    position: absolute;
    top: -62px;
    left: 30px;
}
.wrap2{
    width: 980px;
    margin: 0 auto;
}
.wrap2-1{
    background-color: #F2E6D5;
}
.wrap2-1-img{
    width:980px;
    margin:0 auto;
}
.wrap2-2{
    background-color: #8AE5F8;
}
.wrap2-2-img{
    width:980px;
    margin:0 auto;
}
.wrap3{
    width: 980px;
    margin: 0 auto;
    background-color: #FAFAFA;
    text-align: center;
}
.wrap3-img{
    padding: 80px 0;
}
.footer{
    background-color: #14131a;
}
.footer-content{
    width: 980px;
    margin: 0 auto;
    color: #868396;
    background-image: url("../images/footer-bg.png");
}
.footer-content-left, .footer-content-right{
    width: 458px;
    padding-left: 30px;
    margin-top: 30px;
}
.footer-content-left{
    border-right: 1px solid #5B576C;
}
.footer-links{
    margin-top: 30px;
    color: #696773;
    text-align: center;
    line-height: 30px;
}
.sitemap-links{
    margin-top: 20px;
}
ul.sitemap-links li{
    float: left;
    display: block;
    margin-right: 20px;
}
.footer-content-left-img{
    margin-top: 30px;
    text-align: center;
    display: flex;
    display: -ms-flex; /* 兼容IE */
    align-items: center;
    justify-self: center;
}
.footer-content-left-img img{
    padding: 0 20px;
}
.footer-content p.title{
    font-size:16px;
}
.contact{
    margin-top: 30px;
}
.contact-content{
    margin-top: 20px;
    color: #514E5F;
}
@media screen and (min-width: 768px){
    .nav{max-height: 120px;}
    .nav.index{background: rgba(255, 255, 255 ,0.3);}
    .nav .nav-list button{display: none;}
    .nav .layui-nav{width: auto; position: absolute; top: 60px; padding: 0 5px; border-radius: 0; margin: 0; }
    .nav .layui-nav .layui-nav-item{display: inline-block; margin:0 53px; line-height: 40px;}
    .main-product p.title
    ,.main-service p.title{font-size: 36px; line-height: 216px;}
    .main.product .content .content-img{text-align: left;}
    .main-news .content .news-panel strong a{font-size: 20px; line-height: 30px;}
    .main-news .content .news-panel p.read-push{padding-top: 0; position: absolute; bottom: 40px;}
    .main-newsdate .pushtime{line-height: 142px;}
    .main-case .content{width: 45%;}
    .main-case .content.even{margin-left: 9%;}
    .main-about ul.aboutab li{padding: 0 32px; font-size: 24px; margin-left: 30px; line-height: 50px;
}
